.unit-zone {
    display: flex;
    flex-direction: column;
    border: 1px lightgray solid;
}

.unit-zone .unit-zone__title-container {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: auto;
    grid-auto-flow: column;
    column-gap: 5px;
    padding: 10px;
    border-bottom: 1px lightgray solid;
}