.fleet-builder-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  row-gap: 20px;
}

.fleet-builder-form__add-ship-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
}